---
{% for hname in hosts %}
{% if profiles[hosts[hname]['profile']]['min_step'] %}
{% if profiles[hosts[hname]['profile']]['min_step'] <= step %}
{{ hname }}.{{ config.domain }}:
{% if hosts[hname].ip %}
  :server_ip: {{ hosts[hname].ip }}
{% endif %}
  :hostname: {{ hname }}
  :roles:
    - base

{% for step_num in profiles[hosts[hname]['profile']]['steps'] %}
{% if step_num <= step %}
{% if profiles[hosts[hname]['profile']]['steps'][step_num]['roles'] %}
{% for role in profiles[hosts[hname]['profile']]['steps'][step_num]['roles'] %}
{% if serverspec[role] %}
    - {{ serverspec[role] }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

{% for config_name in profiles[hosts[hname]['profile']]['serverspec_config'] %}
{% if config[profiles[hosts[hname]['profile']]['serverspec_config'][config_name]] %}
  :{{ config_name }}: {{ config[profiles[hosts[hname]['profile']]['serverspec_config'][config_name]] }}
{% endif %}
{% endfor %}

{% endif %}
{% endif %}
{% endfor %}

# Local variables:
# mode: yaml
# End:
