---
# Variable applicable to all hosts

version: {{ config.next_version }}
stable: {{ config.current_version }}
os_username: admin
os_tenant_name: {{ config.ks_admin_tenant }}
os_password: {{ config.ks_admin_password }}
os_auth_url: {{ config.endpoint_protocol }}://{{ config.vip_public_fqdn }}:5000/v2.0
galera_vip: {{ config.galera_ip }}
edeploy_master: {{ config.edeploy_master }}
erlang_cookie: {{ config.erlang_cookie }}
