# {{ profile }}
{% for prof in profiles %}
{% if prof == profile %}
{% if profiles[profile]['steps'] %}
classes:
{% for step_num in profiles[profile]['steps'] %}
{% if step_num <= step %}
{% for role in profiles[profile]['steps'][step_num]['roles'] %}
  - {{ role }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

#
# cloud
#
cloud::rhn_registration: "%{hiera('rhn_registration')}"
cloud::root_password: "%{hiera('root_password')}"
cloud::dns_ips: "%{hiera('dns_ips')}"
cloud::site_domain: "%{hiera('site_domain')}"
cloud::motd_title: "%{hiera('motd_title')}"
cloud::selinux_mode: "%{hiera('selinux')}"
cloud::selinux_directory: "%{hiera('selinux_directory')}"
cloud::selinux_booleans: "%{hiera('selinux_booleans')}"
cloud::selinux_modules: "%{hiera('selinux_modules')}"
cloud::manage_firewall: "%{hiera('manage_firewall')}"
cloud::firewall_rules: "%{hiera('firewall_rules')}"
cloud::purge_firewall_rules: "%{hiera('purge_firewall_rules')}"
cloud::firewall_pre_extras: "%{hiera('firewall_pre_extras')}"
cloud::firewall_post_extras: "%{hiera('firewall_post_extras')}"
cloud::firewall::post::debug: "%{hiera('firewall_debug')}"

#
# cloud::selinux (private)
#
# cloud::selinux::mode:
# cloud::selinux::directory:
# cloud::selinux::modules:
# cloud::selinux::booleans:

#
# cloud::database::nosql::memcached
#
cloud::database::nosql::memcached::listen_ip: "%{hiera('internal_netif_ip')}"
cloud::database::nosql::memcached::firewall_settings: "%{hiera('firewall_common_extras')}"
cloud::database::nosql::redis::server::port: "%{hiera('redis_port')}"
cloud::database::nosql::redis::server::firewall_settings: "%{hiera('firewall_common_extras')}"
cloud::database::nosql::redis::sentinel::port: "%{hiera('sentinel_port')}"
cloud::database::nosql::redis::sentinel::firewall_settings: "%{hiera('firewall_common_extras')}"

#
# cloud::compute
#
cloud::compute::nova_db_host: "%{hiera('nova_db_host')}"
cloud::compute::nova_db_user: "%{hiera('nova_db_user')}"
cloud::compute::nova_db_password: "%{hiera('nova_db_password')}"
cloud::compute::nova_db_use_slave: "%{hiera('nova_db_use_slave')}"
cloud::compute::rabbit_hosts: "%{hiera('rabbit_hosts')}"
cloud::compute::rabbit_password: "%{hiera('rabbit_password')}"
cloud::compute::ks_glance_internal_host: "%{hiera('ks_glance_api_internal_host')}"
cloud::compute::ks_glance_internal_proto: "%{hiera('ks_glance_api_internal_proto')}"
cloud::compute::glance_api_port: "%{hiera('glance_api_port')}"
cloud::compute::verbose: "%{hiera('nova_verbose')}"
cloud::compute::debug: "%{hiera('nova_debug')}"
cloud::compute::use_syslog: "%{hiera('nova_use_syslog')}"
cloud::compute::log_facility: "%{hiera('nova_log_facility')}"
cloud::compute::neutron_endpoint: "%{hiera('ks_neutron_internal_host')}"
cloud::compute::neutron_protocol: "%{hiera('ks_neutron_internal_proto')}"
cloud::compute::neutron_password: "%{hiera('ks_neutron_password')}"
cloud::compute::neutron_region_name: "%{hiera('region')}"
cloud::compute::memcache_servers: "%{hiera('memcache_servers')}"
cloud::compute::availability_zone: "%{hiera('region')}"
cloud::compute::cinder_endpoint_type: "%{hiera('cinder_endpoint_type')}"

cloud::compute::hypervisor::server_proxyclient_address: "%{hiera('internal_netif_ip')}"
cloud::compute::hypervisor::libvirt_type: "%{hiera('libvirt_type')}"
cloud::compute::hypervisor::ks_nova_public_proto: "%{hiera('ks_nova_public_proto')}"
cloud::compute::hypervisor::ks_nova_public_host: "%{hiera('ks_nova_public_host')}"
cloud::compute::hypervisor::console: "%{hiera('nova_console')}"
cloud::compute::hypervisor::ks_console_public_proto: "%{hiera('ks_console_public_proto')}"
cloud::compute::hypervisor::ks_console_public_host: "%{hiera('ks_console_public_host')}"
cloud::compute::hypervisor::nova_ssh_private_key: "%{hiera('nova_ssh_private_key')}"
cloud::compute::hypervisor::nova_ssh_public_key: "%{hiera('nova_ssh_public_key')}"
cloud::compute::hypervisor::nova_shell: "%{hiera('nova_shell')}"
cloud::compute::hypervisor::spice_port: "%{hiera('spice_port')}"
cloud::compute::hypervisor::cinder_rbd_user: "%{hiera('cinder_rbd_user')}"
cloud::compute::hypervisor::nova_rbd_pool: "%{hiera('nova_rbd_pool')}"
cloud::compute::hypervisor::nova_rbd_secret_uuid: "%{hiera('ceph_fsid')}"
cloud::compute::hypervisor::vm_rbd: "%{hiera('vm_rbd')}"
cloud::compute::hypervisor::volume_rbd: "%{hiera('volume_rbd')}"
cloud::compute::hypervisor::manage_tso: "%{hiera('manage_tso')}"
cloud::compute::hypervisor::nfs_enabled: "%{hiera('nfs_enabled')}"
cloud::compute::hypervisor::nfs_device: "%{hiera('nfs_device')}"
cloud::compute::hypervisor::nfs_options: "%{hiera('nfs_options')}"
cloud::compute::hypervisor::filesystem_store_datadir: "%{hiera('filesystem_store_datadir')}"

cloud::compute::api::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::compute::api::ks_keystone_internal_proto: "%{hiera('ks_keystone_internal_proto')}"
cloud::compute::api::ks_nova_password: "%{hiera('ks_nova_password')}"
cloud::compute::api::neutron_metadata_proxy_shared_secret: "%{hiera('neutron_metadata_proxy_shared_secret')}"
cloud::compute::api::api_eth: "%{hiera('api_eth')}"
cloud::compute::api::ks_nova_public_port: "%{hiera('nova_port')}"
cloud::compute::api::ks_ec2_public_port: "%{hiera('nova_ec2_port')}"
cloud::compute::api::ks_metadata_public_port: "%{hiera('nova_metadata_port')}"
cloud::compute::api::firewall_settings: "%{hiera('firewall_common_extras')}"

cloud::compute::consoleproxy::api_eth: "%{hiera('api_eth')}"
cloud::compute::consoleproxy::console: "%{hiera('nova_console')}"
cloud::compute::consoleproxy::spice_port: "%{hiera('spice_port')}"
cloud::compute::consoleproxy::novnc_port: "%{hiera('novnc_port')}"
cloud::compute::consoleproxy::secure: "%{hiera('spice_secure')}"
cloud::compute::consoleproxy::firewall_settings: "%{hiera('firewall_common_extras')}"

cloud::compute::scheduler::scheduler_default_filters: "%{hiera('nova_scheduler_default_filters')}"

#
# cloud::dashboard
#
cloud::dashboard::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::dashboard::secret_key: "%{hiera('secret_key')}"
cloud::dashboard::horizon_port: "%{hiera('horizon_port')}"
cloud::dashboard::horizon_ssl_port: "%{hiera('horizon_ssl_port')}"
cloud::dashboard::servername: "%{hiera('horizon_servername')}"
cloud::dashboard::api_eth: "%{hiera('api_eth')}"
cloud::dashboard::keystone_host: "%{hiera('ks_keystone_internal_host')}"
cloud::dashboard::keystone_proto: "%{hiera('ks_keystone_internal_proto')}"
cloud::dashboard::keystone_port: "%{hiera('keystone_port')}"
cloud::dashboard::debug: "%{hiera('horizon_debug')}"
cloud::dashboard::listen_ssl: "%{hiera('horizon_listen_ssl')}"
cloud::dashboard::horizon_cert: "%{hiera('horizon_cert')}"
cloud::dashboard::horizon_key: "%{hiera('horizon_key')}"
cloud::dashboard::horizon_ca: "%{hiera('horizon_ca')}"
cloud::dashboard::ssl_forward: "%{hiera('horizon_ssl_forward')}"
cloud::dashboard::os_endpoint_type: "%{hiera('horizon_endpoint_type')}"
cloud::dashboard::allowed_hosts: "%{hiera('horizon_allowed_hosts')}"
cloud::dashboard::vhost_extra_params: "%{hiera('horizon_vhost_extra_params')}"
cloud::dashboard::neutron_extra_options: "%{hiera('horizon_neutron_extra_options')}"
cloud::dashboard::firewall_settings: "%{hiera('firewall_common_extras')}"

#
# cloud::identity
#
cloud::identity::swift_enabled: "%{hiera('swift_enabled')}"
cloud::identity::cinder_enabled: "%{hiera('cinder_enabled')}"
cloud::identity::trove_enabled: "%{hiera('trove_enabled')}"
cloud::identity::identity_roles_addons: "%{hiera('swift_identity_roles_addons')}"
cloud::identity::keystone_db_host: "%{hiera('keystone_db_host')}"
cloud::identity::keystone_db_user: "%{hiera('keystone_db_user')}"
cloud::identity::keystone_db_password: "%{hiera('keystone_db_password')}"
cloud::identity::memcache_servers: "%{hiera('memcache_servers')}"
cloud::identity::ks_admin_email: "%{hiera('ks_admin_email')}"
cloud::identity::ks_admin_password: "%{hiera('ks_admin_password')}"
cloud::identity::ks_admin_tenant: "%{hiera('ks_admin_tenant')}"
cloud::identity::ks_admin_roles: "%{hiera('ks_admin_roles')}"
cloud::identity::ks_admin_token: "%{hiera('ks_admin_token')}"
cloud::identity::ks_ceilometer_admin_host: "%{hiera('ks_ceilometer_admin_host')}"
cloud::identity::ks_ceilometer_internal_host: "%{hiera('ks_ceilometer_internal_host')}"
cloud::identity::ks_ceilometer_password: "%{hiera('ks_ceilometer_password')}"
cloud::identity::ks_ceilometer_public_host: "%{hiera('ks_ceilometer_public_host')}"
cloud::identity::ks_ceilometer_public_port: "%{hiera('ceilometer_port')}"
cloud::identity::ks_ceilometer_public_proto: "%{hiera('ks_ceilometer_public_proto')}"
cloud::identity::ks_ceilometer_admin_proto: "%{hiera('ks_ceilometer_admin_proto')}"
cloud::identity::ks_ceilometer_internal_proto: "%{hiera('ks_ceilometer_internal_proto')}"
cloud::identity::ks_cinder_admin_host: "%{hiera('ks_cinder_admin_host')}"
cloud::identity::ks_cinder_internal_host: "%{hiera('ks_cinder_internal_host')}"
cloud::identity::ks_cinder_password: "%{hiera('ks_cinder_password')}"
cloud::identity::ks_cinder_public_host: "%{hiera('ks_cinder_public_host')}"
cloud::identity::ks_cinder_public_proto: "%{hiera('ks_cinder_public_proto')}"
cloud::identity::ks_cinder_admin_proto: "%{hiera('ks_cinder_admin_proto')}"
cloud::identity::ks_cinder_internal_proto: "%{hiera('ks_cinder_internal_proto')}"
cloud::identity::ks_cinder_public_port: "%{hiera('cinder_port')}"
cloud::identity::ks_glance_admin_host: "%{hiera('ks_glance_api_admin_host')}"
cloud::identity::ks_glance_internal_host: "%{hiera('ks_glance_api_internal_host')}"
cloud::identity::ks_glance_password: "%{hiera('ks_glance_password')}"
cloud::identity::ks_glance_public_host: "%{hiera('ks_glance_api_public_host')}"
cloud::identity::ks_glance_public_proto: "%{hiera('ks_glance_api_public_proto')}"
cloud::identity::ks_glance_internal_proto: "%{hiera('ks_glance_api_internal_proto')}"
cloud::identity::ks_glance_admin_proto: "%{hiera('ks_glance_api_admin_proto')}"
cloud::identity::ks_glance_api_public_port: "%{hiera('glance_api_port')}"
cloud::identity::ks_heat_admin_host: "%{hiera('ks_heat_admin_host')}"
cloud::identity::ks_heat_internal_host: "%{hiera('ks_heat_internal_host')}"
cloud::identity::ks_heat_password: "%{hiera('ks_heat_password')}"
cloud::identity::ks_heat_public_host: "%{hiera('ks_heat_public_host')}"
cloud::identity::ks_heat_public_proto: "%{hiera('ks_heat_public_proto')}"
cloud::identity::ks_heat_admin_proto: "%{hiera('ks_heat_admin_proto')}"
cloud::identity::ks_heat_internal_proto: "%{hiera('ks_heat_internal_proto')}"
cloud::identity::ks_heat_public_port: "%{hiera('heat_port')}"
cloud::identity::ks_heat_cfn_public_port: "%{hiera('heat_cfn_port')}"
cloud::identity::ks_keystone_admin_host: "%{hiera('ks_keystone_admin_host')}"
cloud::identity::ks_keystone_admin_port: "%{hiera('keystone_admin_port')}"
cloud::identity::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::identity::ks_keystone_internal_port: "%{hiera('keystone_port')}"
cloud::identity::ks_keystone_public_host: "%{hiera('ks_keystone_public_host')}"
cloud::identity::ks_keystone_public_port: "%{hiera('keystone_port')}"
cloud::identity::ks_keystone_public_proto: "%{hiera('ks_keystone_public_proto')}"
cloud::identity::ks_keystone_admin_proto: "%{hiera('ks_keystone_admin_proto')}"
cloud::identity::ks_keystone_internal_proto: "%{hiera('ks_keystone_internal_proto')}"
cloud::identity::ks_neutron_admin_host: "%{hiera('ks_neutron_admin_host')}"
cloud::identity::ks_neutron_internal_host: "%{hiera('ks_neutron_internal_host')}"
cloud::identity::ks_neutron_password: "%{hiera('ks_neutron_password')}"
cloud::identity::ks_neutron_public_host: "%{hiera('ks_neutron_public_host')}"
cloud::identity::ks_neutron_public_proto: "%{hiera('ks_neutron_public_proto')}"
cloud::identity::ks_neutron_admin_proto: "%{hiera('ks_neutron_admin_proto')}"
cloud::identity::ks_neutron_internal_proto: "%{hiera('ks_neutron_internal_proto')}"
cloud::identity::ks_neutron_public_port: "%{hiera('neutron_port')}"
cloud::identity::ks_nova_admin_host: "%{hiera('ks_nova_admin_host')}"
cloud::identity::ks_nova_internal_host: "%{hiera('ks_nova_internal_host')}"
cloud::identity::ks_nova_password: "%{hiera('ks_nova_password')}"
cloud::identity::ks_nova_public_host: "%{hiera('ks_nova_public_host')}"
cloud::identity::ks_nova_public_proto: "%{hiera('ks_nova_public_proto')}"
cloud::identity::ks_nova_admin_proto: "%{hiera('ks_nova_admin_proto')}"
cloud::identity::ks_nova_internal_proto: "%{hiera('ks_nova_internal_proto')}"
cloud::identity::ks_nova_public_port: "%{hiera('nova_port')}"
cloud::identity::ks_ec2_public_port: "%{hiera('nova_ec2_port')}"
cloud::identity::ks_swift_dispersion_password: "%{hiera('ks_swift_dispersion_password')}"
cloud::identity::ks_swift_internal_host: "%{hiera('ks_swift_internal_host')}"
cloud::identity::ks_swift_admin_host: "%{hiera('ks_swift_admin_host')}"
cloud::identity::ks_swift_password: "%{hiera('ks_swift_password')}"
cloud::identity::ks_swift_public_host: "%{hiera('ks_swift_public_host')}"
cloud::identity::ks_swift_public_proto: "%{hiera('ks_swift_public_proto')}"
cloud::identity::ks_swift_admin_proto: "%{hiera('ks_swift_admin_proto')}"
cloud::identity::ks_swift_internal_proto: "%{hiera('ks_swift_internal_proto')}"
cloud::identity::ks_swift_public_port: "%{hiera('swift_port')}"
cloud::identity::ks_trove_internal_host: "%{hiera('ks_trove_internal_host')}"
cloud::identity::ks_trove_admin_host: "%{hiera('ks_trove_admin_host')}"
cloud::identity::ks_trove_password: "%{hiera('ks_trove_password')}"
cloud::identity::ks_trove_public_port: "%{hiera('trove_port')}"
cloud::identity::ks_trove_public_host: "%{hiera('ks_trove_public_host')}"
cloud::identity::ks_trove_admin_proto: "%{hiera('ks_trove_admin_proto')}"
cloud::identity::ks_trove_internal_proto: "%{hiera('ks_trove_internal_proto')}"
cloud::identity::ks_trove_public_proto: "%{hiera('ks_trove_public_proto')}"
cloud::identity::api_eth: "%{hiera('internal_netif_ip')}"
cloud::identity::region: "%{hiera('region')}"
cloud::identity::verbose: "%{hiera('keystone_verbose')}"
cloud::identity::debug: "%{hiera('keystone_debug')}"
cloud::identity::use_syslog: "%{hiera('keystone_use_syslog')}"
cloud::identity::log_facility: "%{hiera('keystone_log_facility')}"
cloud::identity::ks_token_expiration: "%{hiera('ks_token_expiration')}"
cloud::identity::token_driver: "%{hiera('ks_token_driver')}"
cloud::identity::firewall_settings: "%{hiera('firewall_common_extras')}"

#
# cloud::image
#

cloud::image::api::glance_db_host: "%{hiera('glance_db_host')}"
cloud::image::api::glance_db_user: "%{hiera('glance_db_user')}"
cloud::image::api::glance_db_password: "%{hiera('glance_db_password')}"
cloud::image::api::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::image::api::ks_keystone_internal_proto: "%{hiera('ks_keystone_internal_proto')}"
cloud::image::api::ks_glance_internal_host: "%{hiera('ks_glance_api_internal_host')}"
cloud::image::api::ks_glance_api_internal_port: "%{hiera('glance_api_port')}"
cloud::image::api::ks_glance_registry_internal_port: "%{hiera('glance_registry_port')}"
cloud::image::api::ks_glance_registry_internal_proto: "%{hiera('ks_glance_registry_internal_proto')}"
cloud::image::api::ks_glance_password: "%{hiera('ks_glance_password')}"
cloud::image::api::rabbit_password: "%{hiera('rabbit_password')}"
cloud::image::api::rabbit_host: "%{hiera('rabbit_host')}"
cloud::image::api::api_eth: "%{hiera('internal_netif_ip')}"
cloud::image::api::openstack_vip: "%{hiera('vip_public_ip')}"
cloud::image::api::glance_rbd_pool: "%{hiera('glance_rbd_pool')}"
cloud::image::api::glance_rbd_user: "%{hiera('glance_rbd_user')}"
cloud::image::api::verbose: "%{hiera('glance_api_verbose')}"
cloud::image::api::debug: "%{hiera('glance_api_debug')}"
cloud::image::api::log_facility: "%{hiera('glance_api_log_facility')}"
cloud::image::api::use_syslog: "%{hiera('glance_api_use_syslog')}"
cloud::image::api::backend: "%{hiera('glance_backend')}"
cloud::image::api::known_stores: "%{hiera('glance_known_stores')}"
cloud::image::api::filesystem_store_datadir: "%{hiera('glance_filesystem_store_datadir')}"
cloud::image::api::nfs_device: "%{hiera('glance_nfs_device')}"
cloud::image::api::nfs_options: "%{hiera('glance_nfs_options')}"
cloud::image::api::pipeline: "%{hiera('glance_api_pipeline')}"
cloud::image::api::firewall_settings: "%{hiera('firewall_common_extras')}"
cloud::image::api::api_policies: "%{hiera('glance_api_policies')}"

cloud::image::registry::glance_db_host: "%{hiera('glance_db_host')}"
cloud::image::registry::glance_db_user: "%{hiera('glance_db_user')}"
cloud::image::registry::glance_db_password: "%{hiera('glance_db_password')}"
cloud::image::registry::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::image::registry::ks_keystone_internal_proto: "%{hiera('ks_keystone_internal_proto')}"
cloud::image::registry::ks_glance_internal_host: "%{hiera('ks_glance_registry_internal_host')}"
cloud::image::registry::ks_glance_registry_internal_port: "%{hiera('glance_registry_port')}"
cloud::image::registry::ks_glance_password: "%{hiera('ks_glance_password')}"
cloud::image::registry::api_eth: "%{hiera('internal_netif_ip')}"
cloud::image::registry::verbose: "%{hiera('glance_registry_verbose')}"
cloud::image::registry::debug: "%{hiera('glance_registry_debug')}"
cloud::image::registry::log_facility: "%{hiera('glance_registry_log_facility')}"
cloud::image::registry::use_syslog: "%{hiera('glance_registry_use_syslog')}"
cloud::image::registry::firewall_settings: "%{hiera('firewall_common_extras')}"

#
# cloud::install
#
#cloud::install::puppetmaster::puppetmaster_package_name: "%{hiera('puppetmaster_package_name')}"
#cloud::install::puppetmaster::puppetmaster_service_name: "%{hiera('puppetmaster_service_name')}"
cloud::install::puppetmaster::main_configuration: "%{hiera('puppetmaster_main_configuration')}"
cloud::install::puppetmaster::agent_configuration: "%{hiera('puppetmaster_agent_configuration')}"
cloud::install::puppetmaster::master_configuration: "%{hiera('puppetmaster_master_configuration')}"
cloud::install::puppetmaster::puppetmaster_vhost_configuration: "%{hiera('puppetmaster_vhost_configuration')}"
cloud::install::puppetmaster::puppetconf_path: "%{hiera('puppetmaster_puppetconf_path')}"
cloud::install::puppetmaster::puppetdb_enable: "%{hiera('puppetdb_enable')}"
cloud::install::puppetmaster::autosign_domains: "%{hiera('autosign_domains')}"
cloud::install::puppetmaster::autosign_domains:
  - '*'
cloud::install::puppetmaster::master_configuration:
  ssl_client_header:
    setting: ssl_client_header
    value: SSL_CLIENT_S_DN
  ssl_client_verify_header:
    setting: ssl_client_verify_header
    value: SSL_CLIENT_VERIFY
cloud::install::puppetmaster::agent_configuration:
  certname:
    setting: certname
    value: "%{::fqdn}"
  server:
    setting: server
    value: "%{::fqdn}"
cloud::install::puppetmaster::puppetmaster_vhost_configuration:
  puppetmasterd:
   docroot: '/usr/share/puppet/rack/puppetmasterd/public'
   port: 8140
   ssl: true
   ssl_protocol: 'ALL -SSLv2 -SSLv3'
   ssl_cipher: 'ALL:!aNULL:!eNULL:!DES:!3DES:!IDEA:!SEED:!DSS:!PSK:!RC4:!MD5:+HIGH:+MEDIUM:!LOW:!SSLv2:!EXP'
   ssl_honorcipherorder: 'On'
   ssl_cert: "/var/lib/puppet/ssl/certs/%{::fqdn}.pem"
   ssl_key: "/var/lib/puppet/ssl/private_keys/%{::fqdn}.pem"
   ssl_chain: "/var/lib/puppet/ssl/certs/ca.pem"
   ssl_ca: "/var/lib/puppet/ssl/certs/ca.pem"
   ssl_verify_client: optional
   ssl_verify_depth: 1
   ssl_options:
     - +StdEnvVars
     - +ExportCertData
   request_headers:
     - 'unset X-Forwarded-For'
     - "set X-SSL-Subject %%{}{SSL_CLIENT_S_DN}e"
     - "set X-Client-DN %%{}{SSL_CLIENT_S_DN}e"
     - "set X-Client-Verify %%{}{SSL_CLIENT_VERIFY}e"
   rack_base_uris: '/'
   add_default_charset: 'UTF-8'
puppetdb::master::config::puppetdb_server: "%{::fqdn}"
puppetdb::master::config::manage_report_processor: true
puppetdb::master::config::enable_reports: true
puppetdb::master::config::strict_validation: false

#
# cloud::loadbalancer
#
cloud::loadbalancer::swift_api: "%{hiera('swift_api')}"
cloud::loadbalancer::ceilometer_api: "%{hiera('ceilometer_api')}"
cloud::loadbalancer::cinder_api: "%{hiera('cinder_api')}"
cloud::loadbalancer::glance_api: "%{hiera('glance_api')}"
cloud::loadbalancer::glance_registry: "%{hiera('glance_registry')}"
cloud::loadbalancer::neutron_api: "%{hiera('neutron_api')}"
cloud::loadbalancer::heat_api: "%{hiera('heat_api')}"
cloud::loadbalancer::heat_cfn_api: "%{hiera('heat_cfn_api')}"
cloud::loadbalancer::heat_cloudwatch_api: "%{hiera('heat_cloudwatch_api')}"
cloud::loadbalancer::nova_api: "%{hiera('nova_api')}"
cloud::loadbalancer::ec2_api: "%{hiera('nova_ec2_api')}"
cloud::loadbalancer::metadata_api: "%{hiera('nova_metadata_api')}"
cloud::loadbalancer::novnc: "%{hiera('novnc')}"
cloud::loadbalancer::novnc_bind_options: "%{hiera('novnc_bind_options')}"
cloud::loadbalancer::novnc_port: "%{hiera('novnc_port')}"
cloud::loadbalancer::keystone_api: "%{hiera('keystone_api')}"
cloud::loadbalancer::keystone_api_admin: "%{hiera('keystone_admin_api')}"
cloud::loadbalancer::trove_api: "%{hiera('trove_api')}"
cloud::loadbalancer::horizon: "%{hiera('horizon')}"
cloud::loadbalancer::horizon_ssl: "%{hiera('horizon_ssl')}"
cloud::loadbalancer::spice: "%{hiera('spice')}"
cloud::loadbalancer::rabbitmq: "%{hiera('rabbit')}"
cloud::loadbalancer::haproxy_auth: "%{hiera('haproxy_auth')}"
cloud::loadbalancer::keepalived_auth_type:  "%{hiera('keepalived_auth_type')}"
cloud::loadbalancer::keepalived_auth_pass:  "%{hiera('keepalived_auth_pass')}"
cloud::loadbalancer::keepalived_state:  "%{hiera('keepalived_state')}"
cloud::loadbalancer::keepalived_priority:  "%{hiera('keepalived_priority')}"
cloud::loadbalancer::keepalived_vrrp_interface:  "%{hiera('keepalived_vrrp_interface')}"
cloud::loadbalancer::keepalived_public_interface:  "%{hiera('keepalived_public_interface')}"
cloud::loadbalancer::keepalived_public_ipvs:  "%{hiera('keepalived_public_ipvs')}"
cloud::loadbalancer::keepalived_internal_interface:  "%{hiera('keepalived_internal_interface')}"
cloud::loadbalancer::keepalived_internal_ipvs:  "%{hiera('keepalived_internal_ipvs')}"
cloud::loadbalancer::ceilometer_bind_options: "%{hiera('ceilometer_bind_options')}"
cloud::loadbalancer::cinder_bind_options: "%{hiera('cinder_bind_options')}"
cloud::loadbalancer::ec2_bind_options: "%{hiera('nova_ec2_bind_options')}"
cloud::loadbalancer::glance_api_bind_options: "%{hiera('glance_api_bind_options')}"
cloud::loadbalancer::glance_registry_bind_options: "%{hiera('glance_registry_bind_options')}"
cloud::loadbalancer::heat_cfn_bind_options: "%{hiera('heat_cfn_bind_options')}"
cloud::loadbalancer::heat_cloudwatch_bind_options: "%{hiera('heat_cloudwatch_bind_options')}"
cloud::loadbalancer::heat_api_bind_options: "%{hiera('heat_api_bind_options')}"
cloud::loadbalancer::keystone_bind_options: "%{hiera('keystone_bind_options')}"
cloud::loadbalancer::keystone_admin_bind_options: "%{hiera('keystone_admin_bind_options')}"
cloud::loadbalancer::metadata_bind_options: "%{hiera('nova_metadata_bind_options')}"
cloud::loadbalancer::neutron_bind_options: "%{hiera('neutron_bind_options')}"
cloud::loadbalancer::rabbitmq_bind_options: "%{hiera('rabbit_bind_options')}"
cloud::loadbalancer::nova_bind_options: "%{hiera('nova_bind_options')}"
cloud::loadbalancer::trove_bind_options: "%{hiera('trove_bind_options')}"
cloud::loadbalancer::swift_bind_options: "%{hiera('swift_bind_options')}"
cloud::loadbalancer::spice_bind_options: "%{hiera('spice_bind_options')}"
cloud::loadbalancer::horizon_bind_options: "%{hiera('horizon_bind_options')}"
cloud::loadbalancer::horizon_ssl_bind_options: "%{hiera('horizon_ssl_bind_options')}"
cloud::loadbalancer::galera_bind_options: "%{hiera('galera_bind_options')}"
cloud::loadbalancer::ks_ceilometer_public_port: "%{hiera('ceilometer_port')}"
cloud::loadbalancer::ks_cinder_public_port: "%{hiera('cinder_port')}"
cloud::loadbalancer::ks_ec2_public_port: "%{hiera('nova_ec2_port')}"
cloud::loadbalancer::ks_glance_api_public_port: "%{hiera('glance_api_port')}"
cloud::loadbalancer::ks_glance_registry_internal_port: "%{hiera('glance_registry_port')}"
cloud::loadbalancer::ks_heat_cfn_public_port: "%{hiera('heat_cfn_port')}"
cloud::loadbalancer::ks_heat_cloudwatch_public_port: "%{hiera('heat_cloudwatch_port')}"
cloud::loadbalancer::ks_heat_public_port: "%{hiera('heat_port')}"
cloud::loadbalancer::ks_keystone_admin_port: "%{hiera('keystone_admin_port')}"
cloud::loadbalancer::ks_keystone_public_port: "%{hiera('keystone_port')}"
cloud::loadbalancer::ks_metadata_public_port: "%{hiera('nova_metadata_port')}"
cloud::loadbalancer::ks_neutron_public_port: "%{hiera('neutron_port')}"
cloud::loadbalancer::ks_nova_public_port: "%{hiera('nova_port')}"
cloud::loadbalancer::ks_swift_public_port: "%{hiera('swift_port')}"
cloud::loadbalancer::ks_trove_public_port: "%{hiera('trove_port')}"
cloud::loadbalancer::rabbitmq_port: "%{hiera('rabbit_port')}"
cloud::loadbalancer::horizon_port: "%{hiera('horizon_port')}"
cloud::loadbalancer::horizon_ssl_port: "%{hiera('horizon_ssl_port')}"
cloud::loadbalancer::spice_port: "%{hiera('spice_port')}"
cloud::loadbalancer::vip_public_ip: "%{hiera('vip_public_ip')}"
cloud::loadbalancer::vip_monitor_ip: "%{hiera('vip_monitor_ip')}"
cloud::loadbalancer::vip_internal_ip: "%{hiera('vip_internal_ip')}"
cloud::loadbalancer::galera_ip: "%{hiera('galera_ip')}"
cloud::loadbalancer::galera_slave: "%{hiera('galera_slave')}"
cloud::loadbalancer::firewall_settings: "%{hiera('firewall_common_extras')}"

#
# cloud::messaging
#
cloud::messaging::cluster_node_type: "%{hiera('rabbit_cluster_node_type')}"
cloud::messaging::rabbit_names: "%{hiera('rabbit_names')}"
cloud::messaging::rabbit_password: "%{hiera('rabbit_password')}"
cloud::messaging::haproxy_binding: "%{hiera('rabbit')}"
cloud::messaging::rabbitmq_ip: "%{hiera('rabbit_ip')}"
cloud::messaging::rabbitmq_port: "%{hiera('rabbit_port')}"
cloud::messaging::firewall_settings: "%{hiera('firewall_common_extras')}"


#
# cloud::network
#
cloud::network::verbose: "%{hiera('neutron_verbose')}"
cloud::network::debug: "%{hiera('neutron_debug')}"
cloud::network::rabbit_hosts: "%{hiera('rabbit_hosts')}"
cloud::network::rabbit_password: "%{hiera('rabbit_password')}"
cloud::network::api_eth: "%{hiera('api_eth')}"
cloud::network::use_syslog: "%{hiera('neutron_use_syslog')}"
cloud::network::log_facility: "%{hiera('neutron_log_facility')}"
cloud::network::dhcp_lease_duration: "%{hiera('neutron_dhcp_lease_duration')}"
cloud::network::plugin: "%{hiera('neutron_plugin')}"

cloud::network::l3::external_int: "%{hiera('neutron_external_int')}"
cloud::network::l3::ext_provider_net: "%{hiera('neutron_external_provider_net')}"
cloud::network::l3::debug: "%{hiera('neutron_debug')}"
cloud::network::l3::manage_tso: "%{hiera('manage_tso')}"
cloud::network::l3::ha_enabled: "%{hiera('neutron_l3_ha_enabled')}"
cloud::network::l3::ha_vrrp_auth_type: "%{hiera('neutron_l3_ha_vrrp_auth_type')}"
cloud::network::l3::ha_vrrp_auth_password: "%{hiera('neutron_l3_ha_vrrp_auth_password')}"
cloud::network::l3::allow_automatic_l3agent_failover: "%{hiera('neutron_l3_allow_automatic_l3agent_failover')}"
cloud::network::l3::agent_mode: "%{hiera('neutron_l3_agent_mode')}"

cloud::network::metadata::enabled: "%{hiera('neutron_metadata_enabled')}"
cloud::network::metadata::debug: "%{hiera('neutron_debug')}"
cloud::network::metadata::ks_neutron_password: "%{hiera('ks_neutron_password')}"
cloud::network::metadata::neutron_metadata_proxy_shared_secret: "%{hiera('neutron_metadata_proxy_shared_secret')}"
cloud::network::metadata::nova_metadata_server: "%{hiera('vip_public_fqdn')}"
cloud::network::metadata::ks_keystone_admin_proto: "%{hiera('ks_keystone_admin_proto')}"
cloud::network::metadata::ks_keystone_admin_port: "%{hiera('keystone_admin_port')}"
cloud::network::metadata::ks_keystone_admin_host: "%{hiera('ks_keystone_admin_host')}"
cloud::network::metadata::auth_region: "%{hiera('region')}"
cloud::network::metadata::ks_nova_internal_proto: "http"

cloud::network::lbaas::manage_haproxy_pkg: "%{hiera('neutron_manage_haproxy_pkg')}"
cloud::network::lbaas::debug: "%{hiera('neutron_debug')}"

cloud::network::dhcp::veth_mtu: "%{hiera('neutron_veth_mtu')}"
cloud::network::dhcp::debug: "%{hiera('neutron_debug')}"
cloud::network::dhcp::dnsmasq_dns_servers: "%{hiera('neutron_dnsmasq_dns_servers')}"
cloud::network::dhcp::firewall_settings: "%{hiera('firewall_common_extras')}"

cloud::network::controller::flat_networks: "%{hiera('neutron_flat_networks')}"
cloud::network::controller::provider_vlan_ranges: "%{hiera('neutron_provider_vlan_ranges')}"
cloud::network::controller::tenant_network_types: "%{hiera('neutron_tenant_network_types')}"
cloud::network::controller::type_drivers: "%{hiera('neutron_type_drivers')}"
cloud::network::controller::mechanism_drivers: "%{hiera('neutron_mechanism_drivers')}"
cloud::network::controller::tunnel_id_ranges: "%{hiera('neutron_tunnel_id_ranges')}"
cloud::network::controller::vni_ranges: "%{hiera('neutron_vni_ranges')}"
cloud::network::controller::l3_ha: "%{hiera('neutron_l3_ha_enabled')}"
cloud::network::controller::router_distributed: "%{hiera('enable_distributed_routing')}"
cloud::network::controller::neutron_db_host: "%{hiera('neutron_db_host')}"
cloud::network::controller::neutron_db_user: "%{hiera('neutron_db_user')}"
cloud::network::controller::neutron_db_password: "%{hiera('neutron_db_password')}"
cloud::network::controller::ks_neutron_password: "%{hiera('ks_neutron_password')}"
cloud::network::controller::ks_keystone_admin_host: "%{hiera('ks_keystone_admin_host')}"
cloud::network::controller::ks_keystone_admin_port: "%{hiera('ks_keystone_admin_port')}"
cloud::network::controller::ks_keystone_admin_proto: "%{hiera('ks_keystone_admin_proto')}"
cloud::network::controller::ks_keystone_public_port: "%{hiera('keystone_port')}"
cloud::network::controller::ks_neutron_public_port: "%{hiera('neutron_port')}"
cloud::network::controller::api_eth: "%{hiera('api_eth')}"
cloud::network::controller::ks_admin_tenant: "%{hiera('ks_admin_tenant')}"
cloud::network::controller::nova_url: "%{hiera('nova_url')}"
cloud::network::controller::nova_admin_auth_url: "%{hiera('nova_admin_auth_url')}"
cloud::network::controller::nova_admin_username: "%{hiera('nova_admin_username')}"
cloud::network::controller::nova_admin_tenant_name:  "%{hiera('nova_admin_tenant_name')}"
cloud::network::controller::nova_admin_password:  "%{hiera('ks_nova_password')}"
cloud::network::controller::nova_region_name: "%{hiera('region')}"
cloud::network::controller::manage_ext_network: "%{hiera('neutron_manage_external_network')}"
cloud::network::controller::firewall_settings: "%{hiera('firewall_common_extras')}"
cloud::network::controller::plugin: "%{hiera('neutron_plugin')}"
cloud::network::controller::n1kv_vsm_ip: "%{hiera('neutron_n1kv_vsm_ip')}"
cloud::network::controller::n1kv_vsm_password: "%{hiera('neutron_n1kv_vsm_password')}"

cloud::network::vswitch::driver: "%{hiera('neutron_driver')}"
cloud::network::vswitch::enable_distributed_routing: "%{hiera('enable_distributed_routing')}"
cloud::network::vswitch::manage_ext_network: "%{hiera('neutron_manage_external_network')}"
cloud::network::vswitch::external_int:  "%{hiera('neutron_external_int')}"
cloud::network::vswitch::external_bridge:  "%{hiera('neutron_external_bridge')}"
cloud::network::vswitch::tunnel_types:  "%{hiera('neutron_tunnel_types')}"
cloud::network::vswitch::provider_bridge_mappings:  "%{hiera('neutron_provider_bridge_mappings')}"
cloud::network::vswitch::tunnel_eth: "%{hiera('neutron_tunnel_eth')}"
cloud::network::vswitch::n1kv_vsm_ip: "%{hiera('neutron_n1kv_vsm_ip')}"
cloud::network::vswitch::n1kv_vsm_domain_id: "%{hiera('neutron_n1kv_vsm_domain_id')}"
cloud::network::vswitch::host_mgmt_intf: "%{hiera('neutron_host_mgmt_intf')}"
cloud::network::vswitch::uplink_profile: "%{hiera('neutron_uplink_profile')}"
cloud::network::vswitch::vtep_config: "%{hiera('neutron_vtep_config')}"
cloud::network::vswitch::node_type: "%{hiera('neutron_node_type')}"
cloud::network::vswitch::vteps_in_same_subnet: "%{hiera('neutron_vteps_in_same_subnet')}"
cloud::network::vswitch::n1kv_source: "%{hiera('neutron_n1kv_source')}"
cloud::network::vswitch::n1kv_version: "%{hiera('neutron_n1kv_version')}"
cloud::network::vswitch::firewall_settings: "%{hiera('firewall_common_extras')}"

#
# cloud::object
#
cloud::object::swift_hash_suffix: "%{hiera('swift_hash_suffix')}"

cloud::object::controller::ks_keystone_admin_host: "%{hiera('ks_keystone_admin_host')}"
cloud::object::controller::ks_keystone_admin_port: "%{hiera('keystone_admin_port')}"
cloud::object::controller::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::object::controller::ks_keystone_internal_port: "%{hiera('keystone_port')}"
cloud::object::controller::ks_swift_dispersion_password: "%{hiera('ks_swift_dispersion_password')}"
cloud::object::controller::ks_swift_internal_port: "%{hiera('swift_port')}"
cloud::object::controller::ks_keystone_internal_proto: "%{hiera('ks_keystone_internal_proto')}"
cloud::object::controller::ks_keystone_admin_proto: "%{hiera('ks_keystone_admin_proto')}"
cloud::object::controller::ks_swift_password: "%{hiera('ks_swift_password')}"
cloud::object::controller::statsd_host: "%{hiera('statsd_host')}"
cloud::object::controller::statsd_port: "%{hiera('statsd_port')}"
cloud::object::controller::memcache_servers: "%{hiera('memcache_servers')}"
cloud::object::controller::api_eth: "%{hiera('api_eth')}"
cloud::object::controller::firewall_settings: "%{hiera('firewall_common_extras')}"

cloud::object::ringbuilder::enabled: "%{hiera('swift_ringbuilder_enabled')}"
cloud::object::ringbuilder::rsyncd_ipaddress: "%{hiera('swift_rsyncd_ipaddress')}"
cloud::object::ringbuilder::replicas: "%{hiera('swift_replicas')}"
cloud::object::ringbuilder::swift_rsync_max_connections: "%{hiera('swift_rsync_max_connections')}"

cloud::object::storage::storage_eth: "%{hiera('api_eth')}"
# Need to be set per node
#cloud::object::storage::swift_zone:
cloud::object::storage::object_port: "%{hiera('object_port')}"
cloud::object::storage::container_port: "%{hiera('container_port')}"
cloud::object::storage::account_port: "%{hiera('account_port')}"
cloud::object::storage::fstype: "%{hiera('swift_fstype')}"
cloud::object::storage::device_config_hash: "%{hiera('swift_device_config_hash')}"
cloud::object::storage::ring_container_device: "%{hiera('swift_ring_container_device')}"
cloud::object::storage::ring_account_device: "%{hiera('swift_ring_account_device')}"
cloud::object::storage::firewall_settings: "%{hiera('firewall_common_extras')}"

#
# cloud::orchestration
#
cloud::orchestration::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::orchestration::ks_keystone_internal_port: "%{hiera('keystone_port')}"
cloud::orchestration::ks_keystone_internal_proto: "%{hiera('ks_keystone_internal_proto')}"
cloud::orchestration::ks_keystone_admin_host: "%{hiera('ks_keystone_admin_host')}"
cloud::orchestration::ks_keystone_admin_port: "%{hiera('keystone_admin_port')}"
cloud::orchestration::ks_keystone_admin_proto: "%{hiera('ks_keystone_admin_proto')}"
cloud::orchestration::ks_heat_public_host: "%{hiera('ks_heat_public_host')}"
cloud::orchestration::ks_heat_public_proto: "%{hiera('ks_heat_public_proto')}"
cloud::orchestration::ks_heat_password: "%{hiera('ks_heat_password')}"
cloud::orchestration::heat_db_user: "%{hiera('heat_db_user')}"
cloud::orchestration::heat_db_host: "%{hiera('heat_db_host')}"
cloud::orchestration::heat_db_password: "%{hiera('heat_db_password')}"
cloud::orchestration::rabbit_hosts: "%{hiera('rabbit_hosts')}"
cloud::orchestration::rabbit_password: "%{hiera('rabbit_password')}"
cloud::orchestration::verbose: "%{hiera('heat_verbose')}"
cloud::orchestration::debug: "%{hiera('heat_debug')}"
cloud::orchestration::use_syslog: "%{hiera('heat_use_syslog')}"
cloud::orchestration::log_facility: "%{hiera('heat_log_facility')}"
cloud::orchestration::os_endpoint_type: "%{hiera('heat_endpoint_type')}"

cloud::orchestration::api::ks_heat_internal_port: "%{hiera('heat_port')}"
cloud::orchestration::api::ks_heat_cfn_internal_port: "%{hiera('heat_cfn_port')}"
cloud::orchestration::api::ks_heat_cloudwatch_internal_port: "%{hiera('heat_cloudwatch_port')}"
cloud::orchestration::api::api_eth: "%{hiera('internal_netif_ip')}"
cloud::orchestration::api::workers: "%{hiera('heat_workers')}"
cloud::orchestration::api::firewall_settings: "%{hiera('firewall_common_extras')}"

cloud::orchestration::engine::enabled: "%{hiera('heat_engine_enabled')}"
cloud::orchestration::engine::ks_heat_public_host: "%{hiera('ks_heat_public_host')}"
cloud::orchestration::engine::ks_heat_public_proto: "%{hiera('ks_heat_public_proto')}"
cloud::orchestration::engine::ks_heat_password: "%{hiera('ks_heat_password')}"
cloud::orchestration::engine::ks_heat_cfn_public_port: "%{hiera('heat_cfn_port')}"
cloud::orchestration::engine::ks_heat_cloudwatch_public_port: "%{hiera('heat_cloudwatch_port')}"
cloud::orchestration::engine::auth_encryption_key: "%{hiera('heat_auth_encryption_key')}"

#
# cloud::spof
#
cloud::spof::cluster_ip: "%{hiera('spof_cluster_ip')}"
cloud::spof::cluster_members: "%{hiera('spof_cluster_members')}"
cloud::spof::multicast_address: "%{hiera('spof_multicast_address')}"
cloud::spof::cluster_password: "%{hiera('spof_cluster_password')}"
cloud::spof::firewall_settings: "%{hiera('firewall_common_extras')}"

#
# cloud::telemetry
#
cloud::telemetry::ceilometer_secret: "%{hiera('ceilometer_secret')}"
cloud::telemetry::rabbit_hosts: "%{hiera('rabbit_hosts')}"
cloud::telemetry::rabbit_password: "%{hiera('rabbit_password')}"
cloud::telemetry::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::telemetry::ks_keystone_internal_port: "%{hiera('keystone_port')}"
cloud::telemetry::ks_keystone_internal_proto: "%{hiera('ks_keystone_internal_proto')}"
cloud::telemetry::ks_ceilometer_password: "%{hiera('ks_ceilometer_password')}"
cloud::telemetry::region: "%{hiera('region')}"
cloud::telemetry::verbose: "%{hiera('ceilometer_verbose')}"
cloud::telemetry::debug: "%{hiera('ceilometer_debug')}"
cloud::telemetry::use_syslog: "%{hiera('ceilometer_use_syslog')}"
cloud::telemetry::log_facility: "%{hiera('ceilometer_log_facility')}"
cloud::telemetry::os_endpoint_type: "%{hiera('ceilometer_endpoint_type')}"

cloud::telemetry::api::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::telemetry::api::ks_keystone_internal_proto: "%{hiera('ks_keystone_internal_proto')}"
cloud::telemetry::api::ks_ceilometer_internal_port: "%{hiera('ceilometer_port')}"
cloud::telemetry::api::ks_ceilometer_password: "%{hiera('ks_ceilometer_password')}"
cloud::telemetry::api::api_eth: "%{hiera('api_eth')}"
cloud::telemetry::api::mongo_nodes: "%{hiera('mongo_nodes')}"
cloud::telemetry::api::firewall_settings: "%{hiera('firewall_common_extras')}"

cloud::telemetry::centralagent::enabled: "%{hiera('ceilometer_centralagent_enabled')}"
cloud::telemetry::centralagent::coordination_url: "%{hiera('ceilometer_coordination_url')}"

cloud::telemetry::collector::mongo_nodes: "%{hiera('mongo_nodes')}"
cloud::telemetry::collector::replicaset_enabled: "%{hiera('replicatset_enabled')}"

#
# cloud::volume
#
cloud::volume::storage::cinder_backends: "%{hiera('volume_cinder_backends')}"
cloud::volume::storage::ks_keystone_internal_proto: "%{hiera('ks_keystone_internal_proto')}"
cloud::volume::storage::ks_keystone_internal_port: "%{hiera('keystone_port')}"
cloud::volume::storage::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::volume::storage::ks_cinder_password: "%{hiera('ks_cinder_password')}"
cloud::volume::storage::cinder_rbd_pool: "%{hiera('cinder_rbd_pool')}"
cloud::volume::storage::cinder_rbd_user: "%{hiera('cinder_rbd_user')}"
cloud::volume::storage::cinder_rbd_secret_uuid: "%{hiera('ceph_fsid')}"
cloud::volume::storage::cinder_rbd_conf: "%{hiera('cinder_rbd_conf')}"
cloud::volume::storage::cinder_rbd_flatten_volume_from_snapshot: "%{hiera('cinder_rbd_flatten_volume_from_snapshot')}"
cloud::volume::storage::cinder_rbd_max_clone_depth: "%{hiera('cinder_rbd_max_clone_depth')}"

cloud::volume::api::ks_cinder_internal_port: "%{hiera('cinder_port')}"
cloud::volume::api::ks_cinder_password: "%{hiera('ks_cinder_password')}"
cloud::volume::api::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
cloud::volume::api::ks_keystone_internal_proto: "%{hiera('ks_keystone_internal_proto')}"
cloud::volume::api::ks_glance_internal_host: "%{hiera('ks_glance_api_internal_host')}"
cloud::volume::api::ks_glance_api_internal_port: "%{hiera('glance_api_port')}"
cloud::volume::api::api_eth: "%{hiera('internal_netif_ip')}"
cloud::volume::api::ks_glance_internal_proto: "%{hiera('ks_glance_api_internal_proto')}"
cloud::volume::api::default_volume_type: "%{hiera('volume_default_volume_type')}"
cloud::volume::api::firewall_settings: "%{hiera('firewall_common_extras')}"
cloud::volume::api::volume_multi_backend: "%{hiera('cinder_multi_backend')}"

cloud::volume::scheduler::volume_multi_backend: "%{hiera('cinder_multi_backend')}"

cloud::volume::backup::backup_ceph_pool: "%{hiera('backup_ceph_pool')}"
cloud::volume::backup::backup_ceph_user: "%{hiera('backup_ceph_user')}"

cloud::volume::cinder_db_host: "%{hiera('cinder_db_host')}"
cloud::volume::cinder_db_user: "%{hiera('cinder_db_user')}"
cloud::volume::cinder_db_password: "%{hiera('cinder_db_password')}"
cloud::volume::rabbit_hosts: "%{hiera('rabbit_hosts')}"
cloud::volume::rabbit_password: "%{hiera('rabbit_password')}"
cloud::volume::verbose: "%{hiera('cinder_verbose')}"
cloud::volume::debug: "%{hiera('cinder_debug')}"
cloud::volume::log_facility: "%{hiera('cinder_log_facility')}"
cloud::volume::storage_availability_zone: "%{hiera('region')}"
cloud::volume::use_syslog: "%{hiera('cinder_use_syslog')}"
cloud::volume::nova_endpoint_type: "%{hiera('nova_endpoint_type')}"

#
# cloud::database
#
cloud::database::sql::mysql::api_eth: "%{hiera('internal_netif_ip')}"
cloud::database::sql::mysql::galera_master_name: "%{hiera('galera_master_name')}"
cloud::database::sql::mysql::galera_internal_ips: "%{hiera('galera_internal_ips')}"
cloud::database::sql::mysql::galera_gcache: "%{hiera('galera_gcache')}"
cloud::database::sql::mysql::keystone_db_host: "%{hiera('keystone_db_host')}"
cloud::database::sql::mysql::keystone_db_user: "%{hiera('keystone_db_user')}"
cloud::database::sql::mysql::keystone_db_password: "%{hiera('keystone_db_password')}"
cloud::database::sql::mysql::keystone_db_allowed_hosts: "%{hiera('keystone_db_allowed_hosts')}"
cloud::database::sql::mysql::cinder_db_host: "%{hiera('cinder_db_host')}"
cloud::database::sql::mysql::cinder_db_user: "%{hiera('cinder_db_user')}"
cloud::database::sql::mysql::cinder_db_password: "%{hiera('cinder_db_password')}"
cloud::database::sql::mysql::cinder_db_allowed_hosts: "%{hiera('cinder_db_allowed_hosts')}"
cloud::database::sql::mysql::glance_db_host: "%{hiera('glance_db_host')}"
cloud::database::sql::mysql::glance_db_user: "%{hiera('glance_db_user')}"
cloud::database::sql::mysql::glance_db_password: "%{hiera('glance_db_password')}"
cloud::database::sql::mysql::glance_db_allowed_hosts: "%{hiera('glance_db_allowed_hosts')}"
cloud::database::sql::mysql::heat_db_host: "%{hiera('heat_db_host')}"
cloud::database::sql::mysql::heat_db_user: "%{hiera('heat_db_user')}"
cloud::database::sql::mysql::heat_db_password: "%{hiera('heat_db_password')}"
cloud::database::sql::mysql::heat_db_allowed_hosts: "%{hiera('heat_db_allowed_hosts')}"
cloud::database::sql::mysql::nova_db_host: "%{hiera('nova_db_host')}"
cloud::database::sql::mysql::nova_db_user: "%{hiera('nova_db_user')}"
cloud::database::sql::mysql::nova_db_password: "%{hiera('nova_db_password')}"
cloud::database::sql::mysql::nova_db_allowed_hosts: "%{hiera('nova_db_allowed_hosts')}"
cloud::database::sql::mysql::neutron_db_host: "%{hiera('neutron_db_host')}"
cloud::database::sql::mysql::neutron_db_user: "%{hiera('neutron_db_user')}"
cloud::database::sql::mysql::neutron_db_password: "%{hiera('neutron_db_password')}"
cloud::database::sql::mysql::neutron_db_allowed_hosts: "%{hiera('neutron_db_allowed_hosts')}"
cloud::database::sql::mysql::trove_db_host: "%{hiera('trove_db_host')}"
cloud::database::sql::mysql::trove_db_user: "%{hiera('trove_db_user')}"
cloud::database::sql::mysql::trove_db_password: "%{hiera('trove_db_password')}"
cloud::database::sql::mysql::trove_db_allowed_hosts: "%{hiera('trove_db_allowed_hosts')}"
cloud::database::sql::mysql::mysql_root_password: "%{hiera('mysql_root_password')}"
cloud::database::sql::mysql::mysql_sys_maint_password: "%{hiera('mysql_sys_maint_password')}"
cloud::database::sql::mysql::galera_clustercheck_dbuser: "%{hiera('galera_clustercheck_dbuser')}"
cloud::database::sql::mysql::galera_clustercheck_dbpassword: "%{hiera('galera_clustercheck_dbpassword')}"
cloud::database::sql::mysql::galera_clustercheck_ipaddress: "%{hiera('galera_clustercheck_ipaddress')}"
cloud::database::sql::mysql::firewall_settings: "%{hiera('firewall_common_extras')}"

cloud::database::nosql::mongodb::bind_ip: "%{hiera('internal_netif_ip')}"
cloud::database::nosql::mongodb::nojournal: "%{hiera('mongo_nojournal')}"
cloud::database::nosql::mongodb::replset_members: "%{hiera('mongo_replset_members')}"
cloud::database::nosql::mongodb::firewall_settings: "%{hiera('firewall_common_extras')}"
cloud::database::nosql::mongodb::mongodb_version: "%{hiera('mongodb_version')}"

cloud::database::dbaas::nova_admin_password: "%{hiera('ks_nova_password')}"
cloud::database::dbaas::api::ks_trove_password: "%{hiera('ks_trove_password')}"
cloud::database::dbaas::api::firewall_settings: "%{hiera('firewall_common_extras')}"

#
# cloud::storage
#
cloud::storage::rbd::fsid: "%{hiera('ceph_fsid')}"
cloud::storage::rbd::cluster_network: "%{hiera('ceph_cluster_network')}"
cloud::storage::rbd::public_network: "%{hiera('ceph_public_network')}"

cloud::storage::rbd::osd::devices: "%{hiera('ceph_osd_devices')}"
cloud::storage::rbd::osd::public_address: "%{hiera('ceph_osd_public_address')}"
cloud::storage::rbd::osd::cluster_address: "%{hiera('ceph_osd_cluster_address')}"
cloud::storage::rbd::osd::firewall_settings: "%{hiera('firewall_common_extras')}"

cloud::storage::rbd::monitor::id: "%{hiera('ceph_monitor_id')}"
cloud::storage::rbd::monitor::mon_addr: "%{hiera('internal_netif_ip')}"
cloud::storage::rbd::monitor::monitor_secret: "%{hiera('ceph_mon_secret')}"
cloud::storage::rbd::monitor::firewall_settings: "%{hiera('firewall_common_extras')}"
# Need to be set per node
# cloud::storage::rbd::key::enabled:

# Need to be set per node
# cloud::storage::rbd::pools::setup_pools:
cloud::storage::rbd::pools::glance_rbd_user: "%{hiera('glance_rbd_user')}"
cloud::storage::rbd::pools::glance_rbd_pool: "%{hiera('glance_rbd_pool')}"
cloud::storage::rbd::pools::cinder_rbd_user: "%{hiera('cinder_rbd_user')}"
cloud::storage::rbd::pools::cinder_rbd_pool: "%{hiera('cinder_rbd_pool')}"
cloud::storage::rbd::pools::nova_rbd_pool: "%{hiera('nova_rbd_pool')}"
cloud::storage::rbd::pools::cinder_backup_user: "%{hiera('cinder_backup_user')}"
cloud::storage::rbd::pools::cinder_backup_pool: "%{hiera('cinder_backup_pool')}"
cloud::storage::rbd::pools::ceph_fsid: "%{hiera('ceph_fsid')}"

#
# cloud::logging
#
cloud::logging::agent::syslog_enable: "%{hiera('logging_syslog_enable')}"
cloud::logging::agent::sources: "%{hiera('logging_sources')}"
cloud::logging::agent::matches: "%{hiera('logging_matches')}"
cloud::logging::agent::plugins: "%{hiera('logging_plugins')}"
cloud::logging::agent::logrotate_rule: "%{hiera('logging_logrotate_rule')}"
fluentd::version: "%{hiera('fluentd_version')}"
kibana3::ws_servername: "%{hiera('kibana_servername')}"
kibana3::ws_port: "%{hiera('kibana_port')}"
kibana3::manage_git_repository: "%{hiera('kibana_manage_git_repository')}"
kibana3::manage_ws: "%{hiera('kibana_mange_ws')}"
kibana3::config_es_server: "%{hiera('kibana_config_es_server')}"
kibana3::config_kibana_index: "%{hiera('kibana_config_index')}"

#
# cloud::monitoring
#
cloud::monitoring::server::sensu::checks: "%{hiera('sensu_checks')}"
cloud::monitoring::server::sensu::handlers: "%{hiera('sensu_handlers')}"
cloud::monitoring::server::sensu::plugins: "%{hiera('sensu_plugins')}"
cloud::monitoring::server::sensu::rabbitmq_user: "%{hiera('sensu_rabbitmq_user')}"
cloud::monitoring::server::sensu::rabbitmq_password: "%{hiera('sensu_rabbitmq_password')}"
cloud::monitoring::server::sensu::rabbitmq_vhost: "%{hiera('sensu_rabbitmq_vhost')}"
cloud::monitoring::server::sensu::uchiwa_ip: "%{hiera('sensu_uchiwa_ip')}"
uchiwa::install_repo: "%{hiera('sensu_uchiwa_install_repo')}"
uchiwa::user: "%{hiera('sensu_uchiwa_user')}"
uchiwa::pass: "%{hiera('sensu_uchiwa_password')}"
sensu::rabbitmq_password: "%{hiera('sensu_rabbitmq_password')}"
sensu::rabbitmq_host: "%{hiera('rabbit_host')}"
sensu::rabbitmq_vhost: "%{hiera('sensu_rabbitmq_vhost')}"
sensu::install_repo: "%{hiera('sensu_install_repo')}"

# Experimental
# cloud::database::dbaas::trove_db_host: "%{hiera('trove_db_host')}"
# cloud::database::dbaas::trove_db_password: "%{hiera('trove_db_password')}"
# cloud::database::dbaas::rabbit_hosts: "%{hiera('rabbit_hosts')}"
# cloud::database::dbaas::rabbit_password: "%{hiera('rabbit_password')}"
# cloud::database::dbaas::nova_admin_password: "%{hiera('ks_trove_password')}"
# cloud::database::dbaas::trove_db_user:
# cloud::database::dbaas::nova_admin_username:
# cloud::database::dbaas::nova_admin_tenant_name:
# 
# cloud::database::dbaas::api::ks_trove_password: "%{hiera('ks_trove_password')}"
# cloud::database::dbaas::api::api_eth: "%{hiera('api_eth')}"
# cloud::database::dbaas::api::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
# cloud::database::dbaas::api::ks_keystone_internal_proto: "%{hiera('endpoint_proto')}"
# cloud::database::dbaas::api::verbose:
# cloud::database::dbaas::api::debug:
# cloud::database::dbaas::api::use_syslog:
# cloud::database::dbaas::api::ks_trove_public_port:
# cloud::database::dbaas::api::ks_keystone_internal_port:
# 
# cloud::database::dbaas::conductor::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
# cloud::database::dbaas::conductor::ks_keystone_internal_proto: "%{hiera('endpoint_proto')}"
# cloud::database::dbaas::conductor::ks_keystone_internal_port:
# cloud::database::dbaas::conductor::verbose:
# cloud::database::dbaas::conductor::debug:
# cloud::database::dbaas::conductor::use_syslog:
# 
# cloud::database::dbaas::taskmanager::ks_keystone_internal_host: "%{hiera('ks_keystone_internal_host')}"
# cloud::database::dbaas::taskmanager::ks_keystone_internal_proto: "%{hiera('endpoint_proto')}"
# cloud::database::dbaas::taskmanager::ks_keystone_internal_port:
# cloud::database::dbaas::taskmanager::debug:
# cloud::database::dbaas::taskmanager::verbose:
# cloud::database::dbaas::taskmanager::use_syslog:

#
#
# DEPRECATED
#
# This is a list of deprecated parameters since their class
# are deprecated in puppet-openstack-cloud but kept around for backward compatibility
# They are put here so the sync_parameter script doesn't complain
#
#
# Need to be ignored
# cloud::firewall::pre::firewall_settings:
# cloud::firewall::post::log:
# cloud::firewall::post::firewall_settings:
