# file: hosts

{% for prof in profiles %}
{{ prof }}:
  hosts:
{% for hname in hosts %}{% if hosts[hname].profile == prof %}    - {{ hname }}.{{ config.domain  }}{% endif %}
{% endfor %}
{% endfor %}
